*{ 
  margin: 0%; 
}

.App-header {
  display:inline-block;
  justify-content: space-between;
  text-align: center;
  background-color: #282c34;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: lightgray;
}

.Website-title {

}
.profilePhoto {
  height: 25vh;
}

.App-body {
  background-color: lightgray;
}


